{% extends "base.html" %}

{% block content %}
    <header><h1>Create New Alert</h1></header>
    <section class="create-item-form">
        <form method="post">
            <div class="form-group">
                <label for="name">Alert name</label>
                <input type="text" class="form-control" id="name" name="name"  />
            </div>
            <div class="form-group">
                <label for="item_url">Item Url</label>
                <input type="text" class="form-control" id="item_url" name="item_url"  />
            </div>
             <div class="form-group">
                <label for="price_limit">Price Limit</label>
                <input type="text" class="form-control" id="price_limit" name="price_limit" aria-describedby="tagNameHelp"/>
                 <small id="tagNameHelp" class="form-text text-muted">
                     Enter the price that will trigger the alert when reached
                 </small>
            </div>
            <button type="submit" class="btn btn-primary" name="submit">Create</button>
        </form>
    </section>
{% endblock %}